p {
    font-size: x-large;
}

label {
    font-size: 25px;
}

ul {
    list-style: none;
    margin: 10px;
}

ul .btn {
    width: 70%;
    background-color: rgb(155, 155, 155);
    margin-bottom: 10px;
}

ul .btn:hover {
    background-color: red;
}

.header-bg {
    background-image: linear-gradient(to bottom right, rgb(0, 162, 255),rgb(136, 0, 255));
    font-weight: 600;
    color: white;
    padding: 15px;
}

.form-card {
    border-right: double;
    border-bottom: double;
    padding-bottom: 10px;
    padding-right: 10px;
}

.inline {
    display: inline-block;
}

.current-forecast {
    border: thick double #32a1ce;
    margin: 10px;
    padding: 7px;
}

.data-content {
    font-size: 17px;
}

.forecast-card {
    background-color: rgba(0, 109, 143, 0.3);
    width: 200px;
    height: 232px;
    padding: 10px;
    margin: 10px;
}

.favourable {
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 143, 48, 0.5);
    padding: 5px;
    border-radius: 20%;
}

.moderate {
    width: fit-content;
    height: fit-content;
    background-color: rgba(242, 255, 0, 0.5);
    padding: 5px;
    border-radius: 20%;
}

.severe {
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 143, 48, 0.5);
    padding: 5px;
    border-radius: 20%;
}